:root {
  --PRIMARY_COLOR: #663C00;
  --SECONDARY_COLOR: #fff8ee;
  --MENU_HOVER_COLOR: #7493d5;
  --ADD_BUTTON_COLOR: #B87619;
  --BUTTON_HOVER_COLOR: #f4441c48;
  --breakpoint-mobile: 560px;
}

body {
  background: white;
}

.hero {
  max-width: 1500px;
  margin: auto;
  padding: 0 20px;
}

@media screen and (min-width: 1250px) {
  .hideInDesktop {
    display: none !important;
  }
}

@media screen and (max-width: 1250px) {
  .hideInMobile {
    display: none !important;
  }
}

@media screen and (min-width: 650px) {
  .showInPhone {
    display: none !important;
  }
}

@media screen and (max-width: 650px) {
  .hideInPhone {
    display: none !important;
  }
}

img {
  max-width: 100%;
}

.owl-carousel .owl-stage-outer .owl-stage {
  padding: 0 !important;
}

.titlesWrapper {
  margin: 20px 0;
}

/* .border-section{
  border-top: 1px solid #aeaeae;
  padding: 20px 0px;
  margin: 20px 0px;
} */

.titleMainSmall {
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn-special {
  background-color: var(--PRIMARY_COLOR);
  color: white;
}

.btn-special:hover {
  background-color: var(--PRIMARY_COLOR);
}

.subTitleLarge {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.owl-next,
.owl-prev {
  box-shadow: 0 !important;
}

.owl-dots {
  width: fit-content;
  margin: auto;
  padding: 0px !important;
  border-radius: 40px !important;
  transform: translateY(20px);
  display: flex;
  height: 15px;
  overflow: hidden;
}

.owl-dot {
  margin: 0px !important;
  padding: 0px !important;
}

.owl-dot span {
  height: 10px !important;
  width: 10px !important;
  margin: 0px 4px !important;
  border: 2px solid #a2a6ac;
  background: #fff !important;
  border-radius: 50%;
}

.owl-dot.active span {
  border-color: #e77600;
  box-shadow: 0 0 3px 2px rgba(228, 121, 17, 0.5);
}

.custom-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.custom-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #a2a6ac;
  margin: 0 4px;
  cursor: pointer;
}

.custom-dot.active {
  background-color: #e77600;
}

.custom-dot-nav {
  font-size: 20px;
  cursor: pointer;
  color: #555;
  margin: 0 5px;
}

.galleryBox .owl-stage {
  display: flex;
  align-items: stretch;
}

.mouse-cursor {
  cursor: pointer;
}

/* owl  carousel left & right arrow */
.owl-nav {
  position: absolute;
  top: calc(50% - 50px);
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
}

.owl-nav button {
  min-width: 40px;
}

.owl-nav span {
  font-size: 30px;
}

.carousel-looking-for .owl-nav button,
.heroBanner .owl-nav button,
.brandSilder .owl-nav button,
.limitedOfferSlider .owl-nav button {
  position: absolute;
  background: var(--SECONDARY_COLOR) !important;
  border-radius: 50% !important;
  height: 40px;
  width: 40px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.carousel-looking-for .owl-nav button.owl-prev,
.brandSilder .owl-nav button.owl-prev {
  left: -25px;
}

.carousel-looking-for .owl-nav button.owl-next,
.brandSilder .owl-nav button.owl-next {
  right: -25px;
}

.carousel-looking-for .owl-nav button span,
.brandSilder .owl-nav button span {
  color: var(--PRIMARY_COLOR);
  position: relative;
  top: -2px;
}

.carousel-looking-for .owl-nav button:hover,
.brandSilder .owl-nav button:hover {
  background: var(--PRIMARY_COLOR) !important;
}

.carousel-looking-for .owl-nav button:hover span,
.brandSilder .owl-nav button:hover span {
  color: var(--PRIMARY_COLOR);
}

.heroBannerMobile .owl-dots {
  background-color: rgb(255, 255, 255) !important;
  transform: translateY(-18px);
}

.heroBanner .owl-nav button,
.limitedOfferSlider .owl-nav button {
  background: transparent !important;
}

.heroBanner .owl-nav button.owl-prev {
  left: 15px;
}

.heroBanner .owl-nav button.owl-next {
  right: 15px;
}

.heroBanner .owl-nav button span {
  font-size: 80px;
  color: var(--PRIMARY_COLOR);
}

.brandSilder .owl-nav button.disabled,
.limitedOfferSlider .owl-nav button.disabled {
  display: none !important;
}

input::-webkit-inner-spin-button,
input::-webkit-outter-spin-button {
  -webkit-appearance: none;
  display: none;
}

.dealsShop.owl-carousel .owl-stage {
  display: flex;
  align-items: stretch;
}

.limitedOfferSlider .owl-stage-outer {
  padding-top: 30px;
}

.primaryColor {
  background-color: var(--PRIMARY_COLOR);
  color: var(--PRIMARY_COLOR);
}

.limitedOfferSlider.owl-theme .owl-nav {
  width: 100px;
  top: 0px;
  right: 0px;
  height: 30px;
  margin-top: -5px;
}

.limitedOfferSlider .owl-nav button.owl-next {
  right: 0px;
}

.limitedOfferSlider .owl-nav button.owl-prev {
  right: 30px;
}

.limitedOfferSlider .owl-nav button span {
  font-size: 20px;
  color: var(--PRIMARY_COLOR);
}

.limitedOfferSlider.owl-theme .owl-nav button {
  height: 30px;
  width: 30px;
  margin: 0px;
}

.infinite-scroll-component__outerdiv {
  width: 100%;
  display: inline-flex;
}

@media screen and (max-width: 568px) {

  .carousel-looking-for .owl-nav button.owl-prev,
  .brandSilder .owl-nav button.owl-prev {
    left: -10px;
    display: none !important;
  }

  .carousel-looking-for .owl-nav button.owl-next,
  .brandSilder .owl-nav button.owl-next {
    right: 20px;
    display: none !important;
  }
}